$buttonSizeWidth: 200px;
$buttonSizeHeight: 80px;

div {
  margin-top: 20px;

  button {
    height: $buttonSizeHeight;
    width: $buttonSizeWidth;
    font-size: 300%;
    background-color: #78be;
    border-radius: 14px;
    color: #fff;
    margin: 5px;
    outline: none;
    cursor: pointer;
  }
}
