<div [ngSwitch]="status">
  <div *ngSwitchCase="'success'">
    <div
      *ngIf="(stateService.state$ | async).player_name != ''; else: elseBlock"
    >
      <app-header></app-header>
      <app-board></app-board>
      <app-footer></app-footer>
    </div>
    <ng-template #elseBlock>
      <form action="">
        <label>Introduce Player Name: </label>
        <input
          type="text"
          [(ngModel)]="playerName"
          [ngModelOptions]="{ standalone: true }"
        />
        <input type="submit" value="Submit" (click)="handleSubmitClick()" />
      </form>
    </ng-template>
  </div>
  <div class="loader" *ngSwitchCase="'fetching'"></div>  
  <div *ngSwitchDefault>
    There is an error in the backend communication. <br />
    Error: {{ status }}
  </div>
</div>
